@import '../../Portfolio.css';

.game_bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img_game_bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container, maintaining its aspect ratio */
}

.game_desc{
    margin-left: 25%;
    margin-right: 25%;
}

.game_title{
    font-size: 8vh;
    font-family: "Jellee Roman", sans-serif;

    align-items: center;
    text-align: center;
}

.skills_table{
    margin: auto;
}

.skill_left_text{
    text-align: left;

    padding: 1px;
    padding-right: 20px;
    
    font-size: 3vh;
    /*font-family: "Jellee Roman", sans-serif;*/
}

.skill_right_text{
    text-align: left;
    
    padding: 1px;

    font-size: 2.5vh;
}

.about{
    margin-top: 3vh;

    text-align: left;

    font-size: 2.5vh;
}

.space_before_accordion{
    padding: .7vh;
}

#accordion{
    padding-left: 0vh;
}

#accordion li{
    list-style: none;
    background: #fff;
    padding: 1.0vh;
    border-radius: 2vh;
}

#accordion li label{
    padding: 0 .5vh 0 1.0vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    font-size: 2.5vh;
    color: black;

    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -webkit-touch-callout: none; /*Safari (iOS)*/
    -moz-user-select: none; /* Ol versions of Firefox */
    -ms-user-select: none; /* Internet Exlorer, Edge */
}

#accordion li label span{
    transition: transform 0.5s ease;
    font-size: 3.5vh;
}

#accordion label + input[type="checkbox"]{
    display: none;
} 

#accordion label + input[type="checkbox"]:checked + .content{
    max-height: 10000px;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.content_text{
    padding: 1vh 2vh;

    color: black;
    font-size: 2.25vh;
}

.GameplayVideoContainer{
    text-align: center; 
    margin: 30px auto 30px auto;
}

.GameplayVideo{
    border-radius: 2vh;
}

.ImgShaderContainer{
    align-items: center;
    text-align: center;
}