@font-face {
    font-family: 'Insanibu';
    src: url('Fonts/Insanibu.ttf') format('truetype');
}

@font-face {
    font-family: 'Jellee Roman';
    src: url('Fonts/jellee.roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Cute Dino';
    src: url('Fonts/Cute_Dino.ttf') format('truetype');
}

@font-face {
    font-family: 'Dacherry';
    src: url('Fonts/Dacherry.ttf') format('truetype');
}

body{
    background: #16161B;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;

    /*fonts related*/
    color: white;
    font-family: "Fonts/jellee.roman.ttf", sans-serif;
}

.primary_color{
    color: #70C0D2;
}

.secondary_color{
    color: #CFCFB0;
}

.accent_color{
    color: #1D5767;
}

.top_banner{
    display: flex;
    background-color: #21212C;
    height: 11vh;
    width: 100%;
    margin-top: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    box-shadow: 0 1.5vh 2vh rgba(0, 0, 0, 0.3);
}

.top_banner_text{
    display: flex;
    font-size: 5vh;
    align-items: center;
    padding-left: 5%;

    font-family: "Jellee Roman", sans-serif; /*Jellee Roman or Insanibu*/
    letter-spacing: .35vh;
}

.top_banner_link{
    display: flex;

    margin-right: 5%;
    margin-left: auto;
    align-items: center;

    font-family: "Insanibu", sans-serif;
    text-decoration-color: rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.3s ease;
}

.top_banner_link:hover{
    text-decoration-color: white;
}

.top_banner_text_link{
    font-size: 5vh;
    color: white;
    letter-spacing: .1vh;
}

.top_banner_margin{
    height: 11vh;
}

.settings_logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: center; 
}

.main_title{
    text-align: center;
    margin: 12vh 0 2vh 0;
    font-size: 10vh;
    font-family: "Cute Dino", sans-serif;
}

.Job-Description{
    text-align: center;
    margin: 2vh 0 12vh 0;
    font-size: 8vh;
    font-family: "Jellee Roman", sans-serif;
}

.section_banner{
    background-color: #21212C;
    height: 14vh;
    width: auto;
}

.section_title{
    display: grid;

    width: auto;
    height: 100%;

    text-align: center;
    align-items: center;
    
    font-size: 7vh;
    font-family: "Jellee Roman", sans-serif;
}

.space_professionel{
    margin: 4vh 0 0 0;
}

.tag-code {
    background-color: #941a1e;
}

.tag-platform {
    background-color: #1c5e21;
}

.tag-editor {
    background-color: #015d70;
}


.tag-job {
    background-color: #66126b;
}

.logo-container{
    width: auto;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.logo {
    margin-top: 1vh;
    margin-right: 3vh;
    margin-left: 1vh;

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.Mail-Logo {
    margin-top: 3vh;
    margin-right: 0vh;

    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.Github-Logo {
    margin-top: 2vh;
    margin-right: 2vh;

    max-width: 80%;
    max-height: 90%;
    object-fit: contain;
}

.Instagram-Logo {
    margin-top: 2vh;
    margin-right: 2vh;

    max-width: 80%;
    max-height: 90%;
    object-fit: contain;
}

.Img80{
    text-align: center;
    align-items: center;
    
    width: 80vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img65{
    text-align: center;
    align-items: center;
    
    width: 65vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img50{
    text-align: center;
    align-items: center;
    
    width: 50vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img45{
    text-align: center;
    align-items: center;
    
    width: 45vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img35{
    text-align: center;
    align-items: center;
    
    width: 35vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img30{
    text-align: center;
    align-items: center;
    
    width: 30vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img25{
    text-align: center;
    align-items: center;
    
    width: 20vh; 
    height: auto;

    border-radius: 2.0vh;
}

.Img20{
    text-align: center;
    align-items: center;
    
    width: 20vh; 
    height: auto;

    border-radius: 2.0vh;
}

.myDescription{
    margin-top: -5vh;
    margin-right: 50vh;
    margin-left: 50vh;
    margin-bottom: 2vh;

    text-align: middle;

    font-size: 3.0vh;

    font-family: "Fonts/jellee.roman.ttf", sans-serif;
}

.video_bg {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.video_game_bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container, maintaining its aspect ratio */
}

.main_title_video {
    position: absolute;
    top: 28%;   
    left: 5%;
    color: white;
    font-size: 15vh;
    font-family: "Cute Dino", sans-serif;
    text-shadow: 1vh 1vh 0px #000000;
}

.Job-Description_video {
    position: absolute;
    top: 47%; 
    left: 5%;
    color: white;
    font-size: 7vh;
    text-shadow: 0 0 2vh black; 
    font-family: "Jellee Roman", sans-serif;
}

.emailAdress_video {
    position: absolute;
    top: 58%;
    left: 5%;
    color: white;
    font-size: 3vh;
    text-shadow: 0 0 2vh black;
    font-family: "Jellee Roman", sans-serif;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.Mail-Logo_top {
    margin-top: 2vh;
    margin-right: 2vh;
    margin-left: 3vh;

    max-width: 80%;
    max-height: 60%;
    object-fit: contain;
}

.Github-Logo_top {
    margin-top: 1.5vh;
    margin-right: 2vh;
    margin-left: -1vh;

    max-width: 80%;
    max-height: 75%;
    object-fit: contain;
}

.LinkedIn-Logo_top {
    margin-top: .7vh;
    margin-right: 2vh;

    max-width: 80%;
    max-height: 85%;
    object-fit: contain;
}