.GooglePlayStoreLink{
    display: flex;

    margin-left: 29%;

    width: 50%;
}

.GooglePlayStoreImg{
    display: flex;

    width: 32%;
    height: 32%;

    margin-bottom: 3vh;

    /*box-shadow: 0 2.0vh 2.0vh black;*/
}