@import '../../Portfolio.css';

.TopSpace{
    height: 11vh;
}

.img_accordion{
    text-align: center;
    
    width: 55vh; 
    height: auto;
}

.ImgAccordion-2{
    text-align: center;
    align-items: center;
    
    width: 30vh; 
    height: auto;

    border-radius: 2.5vh;
}

.ImgAccordion-1{
    text-align: center;
    align-items: center;
    
    width: 30vh; 
    height: auto;

    border-radius: 2.5vh;
}

.ImgAccordion0{
    text-align: center;
    align-items: center;
    
    width: 45vh; 
    height: auto;

    border-radius: 2.5vh;
}

.ImgAccordion1{
    text-align: center;
    align-items: center;
    
    width: 65vh; 
    height: auto;

    border-radius: 2.5vh;
}

.ImgAccordion2{
    text-align: center;
    align-items: center;
    
    width: 90vh; 
    height: auto;

    border-radius: 2.5vh;
}