@import '../../Portfolio.css';

.fadein {
    position:absolute;
    top:0px;
    left:0;
    margin:auto;
}
.fadein img {
    position:absolute;
    left:0;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 35s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}

@-webkit-keyframes fade {
    0% {opacity:   0;}
    20% {opacity:  0;}
    33% {opacity:  1;}
    53% {opacity:  0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity:   0;}
    20% {opacity:  0;}
    33% {opacity:  1;}
    53% {opacity:  0;}
    100% {opacity: 0;}
}

#f1 {
    background-color: white;
}
#f2 {
    -webkit-animation-delay: -30s;
    background-color: white;
}
#f3 {
    -webkit-animation-delay: -25s;
    background-color: white;
}
#f4 {
    -webkit-animation-delay: -20s;
    background-color: white;
}
#f5 {
    -webkit-animation-delay: -15s;
    background-color: white;
}
#f6 {
    -webkit-animation-delay: -10s;
    background-color: white;
}
#f7 {
    -webkit-animation-delay: -5s;
    background-color: white;
}
